input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #03399e;
    -webkit-box-shadow: 0 1px 0 0 #03399e;
    box-shadow: 0 1px 0 0 #03399e;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label{
    color:  #03399e;
}